<div class="padding-sm padding-md@lg">
    <ul class="grid justify-between">
        <li class="col-2 content-center">
        {{> switchlanguage-nojs mod="hide-label" classes="app-ui__btn-lang"}}  <!-- mod="flags"  mod="hide-label" classes="app-ui__btn-lang"-->
        </li>
        <li class="col-8">
            <div class="subnav subnav--expanded@sm js-subnav">
                <button class="btn btn--subtle margin-y-sm subnav__control js-subnav__control">
                    <span>Mostra Categories</span>
                    <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true" viewBox="0 0 12 12">
                        <polyline points="0.5 3.5 6 9.5 11.5 3.5" fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></polyline>
                    </svg>
                </button>
                <div class="subnav__wrapper js-subnav__wrapper">
                    <nav class="subnav__nav justify-center">
                        <button class="subnav__close-btn js-subnav__close-btn" aria-label="Close navigation">
                            <svg class="icon "><use href="#close"></use></svg>
                        </button>
                        <ul class="subnav__list">
                            <li class="subnav__item is-done">
                                <a class="subnav__link" href="https://www.melindro.cat/iredadmin/domains" >All domains</a>
                            </li>
                            <li class="subnav__item is-done">
                                <a class="subnav__link" href="https://www.melindro.cat/iredadmin/profile/domain/general/melindro.org">
                                    <span class="font-italic font-bold">melindro.org</span>
                                </a>
                            </li>
                            <li class="subnav__item is-done">
                                <a class="subnav__link" href="https://www.melindro.cat/iredadmin/users/melindro.org">Users</a>
                            </li>
                            <li class="subnav__item">
                                <a class="subnav__link" aria-current="page" href="https://www.melindro.cat/iredadmin/profile/user/general/postmaster@melindro.org">
                                    <span>Profile of user:</span>
                                    <span>postmaster@melindro.org</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </li>

        <li class="col-2 content-center">
            <div class="app-ui__fix-menu ">
                <menu class="menu-bar menu-bar--expanded@sm js-menu-bar">
                    <li class="menu-bar__item menu-bar__item--trigger js-menu-bar__trigger" role="menuitem" aria-label="More options">
                        <svg class="icon menu-bar__icon" aria-hidden="true" viewBox="0 0 16 16">
                            <circle cx="8" cy="7.5" r="1.5"/>
                            <circle cx="1.5" cy="7.5" r="1.5"/>
                            <circle cx="14.5" cy="7.5" r="1.5"/>
                        </svg>
                    </li>
                    <li class="menu-bar__item menu-bar__item--hide" role="menuitem">
                        <a class="js-modal" data-content="/iredadmin/view/ldif/user/postmaster@melindro.org">
                            <svg class="icon menu-bar__icon" aria-hidden="true">
                                <use href="#file-code-filled"></use>
                            </svg>
                            
                        </a>
                        <span class="menu-bar__label">LDIF view</span>
                    </li>
                    <li class="menu-bar__item menu-bar__item--hide" role="menuitem">
                        <a class="text-decoration-none" href="/iredadmin/download/ldif/user/postmaster@melindro.org">
                            <svg class="icon menu-bar__icon" aria-hidden="true" >
                                <use href="#file-download-filled"></use>
                            </svg>
                        </a>
                        <span class="menu-bar__label">LDIF download</span>


                    </li>
                    <li class="menu-bar__item menu-bar__item--hide" role="menuitem">
                        <a class="text-decoration-none" href="/iredadmin/activities/sent/user/postmaster@melindro.org">
                        <svg class="icon menu-bar__icon" aria-hidden="true">
                            <use href="#file-analytics-filled"></use>
                        </svg>
                        </a>
                        <span class="menu-bar__label">Activities</span>
                    </li>
                </menu> 
            </div>
        </li>
    </ul>
</div>

<div class="container max-width-adaptive-lg">
    <div class="tabs-v3 js-tabs">
        <ul class="tabs-v3__controls js-tabs__controls" aria-label="Tabs Interface">
            <li><a href="#profile_general" class="tabs-v3__control" aria-selected="true">General</a></li>
            <li><a href="#profile_aliases" class="tabs-v3__control" >Aliases</a></li>
            <li><a href="#profile_password" class="tabs-v3__control">Password</a></li>
            <li>
                <a class="tabs-v3__control" href="#profile_relay" >Relay</a>
            </li>
        </ul>
        <div class="tabs-v3__panels js-tabs__panels">
            <section id="profile_general" class="tabs-v3__panel js-tabs__panel">
                <div class="grid gap-xs items-center@md padding-top-md text-component">
                    <div class="col-8@md">
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="accountStatus">Enable this account<span class=""
                                            style="color:var(--color-error);">&nbsp;<sup><svg class="icon icon--3xs ">
                                                    <use href="#asterisk"></use>
                                                </svg></sup>&nbsp;</span></label>
            
                                </div>
                                <div class="col-7@md">
            
                                    <div class="flex inline-flex items-center">
                                        <div class="switch">
                                            <input name="accountStatus" id="accountStatus" type="checkbox" class="switch__input "
                                                checked="" required="">
                                            <label class="switch__label" for="accountStatus" aria-hidden="true">On</label>
                                            <div class="switch__marker" aria-hidden="true"></div>
                                        </div>
            
                                    </div>
            
            
            
                                </div>
                            </div>
                        </div>
            
            
            
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="cn">Display Name</label>
                                </div>
                                <div class="col-7@md">
                                    <input type="text" id="cn" name="cn" value="postmaster" size="35"
                                        class="form-control width-100% " placeholder="">
                                </div>
                            </div>
                        </div>
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="preferredLanguage">Preferred language</label>
                                </div>
                                <div class="col-7@md">
                                    {{> dashboard-profile-lang }}
                                </div>
                            </div>
                        </div>
            
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="timezone">Time zone</label>
                                </div>
                                <div class="col-7@md">
                                    {{> dashboard-profile-time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4@md">
            
                    </div>
                    <div class="text-divider"></div>
                    <div class="col-8@md">
            
            
            
            
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="mailQuota">Mailbox Quota</label>
            
                                </div>
                                <div class="col-7@md">
            
            
                                    <div class="input-group">
                                        <input type="text" id="mailQuota" name="mailQuota" value="100.0" size="10"
                                            class="form-control width-100% " placeholder="">
                                        <div class="input-group__tag">
            
                                            <div class="select inline-block js-select" data-trigger-class="reset">
                                                <select name="mailQuotaUnit" id="mailQuotaUnit">
                                                    <option value="B">B</option>
                                                    <option value="KB">KB</option>
                                                    <option value="MB" selected="">MB</option>
                                                    <option value="GB">GB</option>
                                                    <option value="TB">TB</option>
                                                    <option value="PB">PB</option>
                                                    <option value="EB">EB</option>
                                                    <option value="ZB">ZB</option>
                                                    <option value="YB">YB</option>
                                                </select>
                                                <svg class="icon icon--2xs margin-left-2xs" aria-hidden="true">
                                                    <use href="#caret"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
            
            
            
            
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="col-4@md">
            
                        <aside class="alert  alert--is-visible padding-sm text-sm radius-md" role="alert">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <svg class="alert__icon icon icon--md margin-right-2xs" aria-hidden="true">
                                        <use href="#info"></use>
                                    </svg>
                                    <p><strong class="font-bold">Mailbox Quota</strong></p>
                                </div>
                            </div>
                            <div class="flex margin-top-3xs">
                                <!-- 👇 spacer - occupy same space of alert__icon -->
                                <svg class="icon icon--md margin-right-2xs" aria-hidden="true"></svg>
                                <div class="text-component">
            
            
                                    <div class="c-progress-bar-card">
                                        <div class="padding-y-2xs">
                                            <div class="flex justify-between flex-center">
                                                <div class="padding-left-xs">
                                                    <p class="text-sm  padding-y-3xs ">
                                                        (Mailbox is empty.)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
            
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="text-divider"></div>
                    <div class="col-8@md">
            
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="employeeNumber">User/Employee ID</label>
            
                                </div>
                                <div class="col-7@md">
            
            
            
            
                                    <input type="text" id="employeeNumber" name="employeeNumber" value="" size="35"
                                        class="form-control width-100% " placeholder="">
            
            
            
            
            
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <!-- <div class="text-divider"></div>
                                                <div class="col-8@md">
                                                    
                                                    
                                                </div>
                                                <div class="col-4@md"></div> -->
                    <div class="text-divider"></div>
                    <div class="col-8@md">
            
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="domainGlobalAdmin">Mark user as</label>
            
                                </div>
                                <div class="col-7@md">
            
                                    <div class="margin-bottom-xs">
                                        <div class="flex inline-flex items-center">
                                            <div class="switch">
                                                <input name="domainGlobalAdmin" id="domainGlobalAdmin" type="checkbox"
                                                    class="switch__input " checked="" required="">
                                                <label class="switch__label" for="domainGlobalAdmin" aria-hidden="true">On</label>
                                                <div class="switch__marker" aria-hidden="true"></div>
                                            </div>
                                            <span class="padding-x-sm">
                                                <p>Global Admin<span class="text-xs color-contrast-medium">&nbsp;Note: Global admin
                                                        can
                                                        manage all mail domains.</span></p>
                                            </span>
                                        </div>
            
                                    </div>
            
                                    <div class="margin-bottom-xs global-admin-options is-hidden">
                                        <div class="flex inline-flex items-center">
                                            <div class="switch">
                                                <input name="domainadmin" id="domainadmin" type="checkbox" class="switch__input "
                                                    required="">
                                                <label class="switch__label" for="domainadmin" aria-hidden="true">On</label>
                                                <div class="switch__marker" aria-hidden="true"></div>
                                            </div>
                                            <span class="padding-x-sm">
                                                <p>Domain admin<span class="text-xs color-contrast-medium">&nbsp;Please choose
                                                        managed
                                                        domains below.</span></p>
                                            </span>
                                        </div>
            
                                    </div>
                                    <div class="settings-tbl text-xs normal-admin-options is-hidden">
                                        <ul class="grid gap-4xs list">
                                            <li class="col-11 offset-1">
                                                <div class="flex inline-flex items-center">
                                                    <div class="switch">
                                                        <input name="disable_view_mail_log" id="disable_view_mail_log"
                                                            type="checkbox" class="switch__input " required="">
                                                        <label class="switch__label" for="disable_view_mail_log"
                                                            aria-hidden="true">On</label>
                                                        <div class="switch__marker" aria-hidden="true"></div>
                                                    </div>
                                                    <span class="padding-x-sm">
                                                        <p>Disallow to view log of inbound/outbound mails</p>
                                                    </span>
                                                </div>
            
                                            </li>
                                            <li class="col-11 offset-1">
                                                <div class="flex inline-flex items-center">
                                                    <div class="switch">
                                                        <input name="disable_manage_quarantined_mails"
                                                            id="disable_manage_quarantined_mails" type="checkbox"
                                                            class="switch__input " required="">
                                                        <label class="switch__label" for="disable_manage_quarantined_mails"
                                                            aria-hidden="true">On</label>
                                                        <div class="switch__marker" aria-hidden="true"></div>
                                                    </div>
                                                    <span class="padding-x-sm">
                                                        <p>Disallow to manage quarantined mails</p>
                                                    </span>
                                                </div>
            
                                            </li>
                                            <li class="col-11 offset-1">
                                                <div class="flex inline-flex items-center">
                                                    <div class="switch">
                                                        <input name="grant_admin" id="grant_admin" type="checkbox"
                                                            class="switch__input " required="">
                                                        <label class="switch__label" for="grant_admin" aria-hidden="true">On</label>
                                                        <div class="switch__marker" aria-hidden="true"></div>
                                                    </div>
                                                    <span class="padding-x-sm">
                                                        <p>Allow this admin to mark other mail user as domain admin</p>
                                                    </span>
                                                </div>
            
                                            </li>
                                            <li class="col-11 offset-1">
                                                <div class="flex inline-flex items-center">
                                                    <div class="switch">
                                                        <input name="create_new_domains" id="create_new_domains" type="checkbox"
                                                            class="switch__input " required="">
                                                        <label class="switch__label" for="create_new_domains"
                                                            aria-hidden="true">On</label>
                                                        <div class="switch__marker" aria-hidden="true"></div>
                                                    </div>
                                                    <span class="padding-x-sm">
                                                        <p>Allow this admin to create new mail domains with up to</p>
                                                    </span>
                                                </div>
            
                                            </li>
            
                                            <div class="normal-admin-options-details is-hidden">
                                                <li class="col-11 offset-1">
            
                                                    <div class="margin-bottom-xs">
                                                        <div class="grid gap-2xs items-center@md">
                                                            <div class="col-5@md">
                                                                <label class="form-label" for="create_max_domains">Domains</label>
            
                                                            </div>
                                                            <div class="col-7@md">
            
            
            
                                                                <input type="text" id="create_max_domains" name="create_max_domains"
                                                                    value="" size="5" class="form-control width-100% "
                                                                    placeholder="">
            
            
            
            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-11 offset-1">
            
                                                    <div class="margin-bottom-xs">
                                                        <div class="grid gap-2xs items-center@md">
                                                            <div class="col-5@md">
                                                                <label class="form-label" for="create_max_users">Mail Users</label>
            
                                                            </div>
                                                            <div class="col-7@md">
            
            
            
                                                                <input type="text" id="create_max_users" name="create_max_users"
                                                                    value="" size="5" class="form-control width-100% "
                                                                    placeholder="">
            
            
            
            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-11 offset-1">
            
                                                    <div class="margin-bottom-xs">
                                                        <div class="grid gap-2xs items-center@md">
                                                            <div class="col-5@md">
                                                                <label class="form-label" for="create_max_aliases">Mail
                                                                    Aliases</label>
            
                                                            </div>
                                                            <div class="col-7@md">
            
            
            
                                                                <input type="text" id="create_max_aliases" name="create_max_aliases"
                                                                    value="" size="5" class="form-control width-100% "
                                                                    placeholder="">
            
            
            
            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
            
                                                <li class="col-11 offset-1">
            
            
            
            
            
                                                    <div class="margin-bottom-xs">
                                                        <div class="grid gap-2xs items-center@md">
                                                            <div class="col-5@md">
                                                                <label class="form-label" for="create_max_quota">Max quota of mail
                                                                    user</label>
            
                                                            </div>
                                                            <div class="col-7@md">
            
            
                                                                <div class="input-group">
                                                                    <input type="text" id="create_max_quota" name="create_max_quota"
                                                                        value="" size="10" class="form-control width-100% "
                                                                        placeholder="">
                                                                    <div class="input-group__tag">
            
                                                                        <div class="select inline-block js-select"
                                                                            data-trigger-class="reset">
                                                                            <select class="select__input"
                                                                                name="create_max_quotaUnit"
                                                                                id="create_max_quotaUnit">
            
                                                                                <option value="B">B</option>
                                                                                <option value="KB">KB</option>
                                                                                <option value="MB" selected="">MB</option>
                                                                                <option value="GB">GB</option>
                                                                                <option value="TB">TB</option>
                                                                                <option value="PB">PB</option>
                                                                                <option value="EB">EB</option>
                                                                                <option value="ZB">ZB</option>
                                                                                <option value="YB">YB</option>
            
                                                                            </select>
                                                                            <svg class="icon icon--2xs margin-left-2xs"
                                                                                aria-hidden="true">
                                                                                <use href="#caret"></use>
                                                                            </svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
            
            
            
            
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                </li>
            
                                            </div>
                                        </ul>
                                    </div>
            
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4@md normal-admin-options is-hidden">
            
            
            
                        <aside class="alert  alert--is-visible padding-sm text-sm radius-md" role="alert">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <svg class="alert__icon icon icon--md margin-right-2xs" aria-hidden="true">
                                        <use href="#info"></use>
                                    </svg>
            
                                    <div class="text-component">
            
                                        <p class="text-sm">All domains managed by this admin share the mailbox quota and limit of
                                            mail
                                            accounts.</p>
            
                                    </div>
                                </div>
                            </div>
                        </aside>
            
                    </div>
                    <div class="text-divider"></div>
                    <div class="col-8@md normal-admin-options is-hidden">
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="list-filter-domainName">Managed Domains</label>
            
                                </div>
                                <div class="col-7@md">
            
            
            
            
                                    <div class="multi-select-v2 js-multi-select-v2">
                                        <div class="list-filter js-list-filter">
                                            <div class="list-filter__form space-unit-rem bg-light radius-md shadow-sm inner-glow">
                                                <div class="position-relative border-bottom border-contrast-lower no-js:hide">
                                                    <input autocomplete="off"
                                                        class="reset list-filter__search padding-sm text-sm js-list-filter__search"
                                                        type="search" name="list-filter-domainName" id="list-filter-domainName"
                                                        placeholder="Search">
                                                    <span class="list-filter__focus-marker" aria-hidden="true"></span>
                                                    <button
                                                        class="list-filter__search-cancel-btn js-list-filter__search-cancel-btn right-sm"
                                                        type="button">
                                                        <svg class="block icon icon--xs">
                                                            <use href="#reset"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="list-filter__list-wrapper">
                                                    <ul class="list-filter__list js-list-filter__list">
            
                                                        <li class="js-list-filter__item">
                                                            <label
                                                                class="multi-select-v2__label padding-y-3xs padding-x-sm cursor-pointer text-sm ">
                                                                <span
                                                                    class="custom-checkbox multi-select-v2__checkbox margin-right-2xs pointer-events-none">
                                                                    <input name="domainName"
                                                                        class="custom-checkbox__input js-multi-select-v2__input"
                                                                        type="checkbox" value="melindro.org">
                                                                    <span class="custom-checkbox__control"
                                                                        aria-hidden="true"></span>
                                                                </span>
                                                                <span class="js-list-filter__label">melindro.org</span>
                                                            </label>
                                                        </li>
            
                                                        <li class="hide js-list-filter__no-results-msg padding-sm">
                                                            <p class="text-sm color-contrast-medium">#CAT No results</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <footer class="margin-top-2xs text-sm flex justify-between">
                                            <p class="color-contrast-medium"><span
                                                    class="js-multi-select-v2__selected-items-counter">0</span>#CAT selected</p>
                                            <button class="link cursor-pointer js-multi-select-v2__reset" type="button">#CAT
                                                Reset</button>
                                        </footer>
                                    </div>
            
            
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4@md normal-admin-options is-hidden">
            
            
            
                        <aside class="text-component__block padding-y-xs">
                            <div class="note ">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <svg class="icon icon--md margin-right-sm" aria-hidden="true">
                                            <use href="#info"></use>
                                        </svg>
            
                                        <div class="note__content text-component">
            
                                            <p class="text-sm"><a href="/iredadmin/create/domain" class="">Add domain</a></p>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
            
                    </div>
                    <div class="col-8@md normal-admin-options is-hidden">
                    </div>
                    <div class="col-4@md normal-admin-options is-hidden">
            
            
                        <aside class="text-component__block padding-y-xs">
                            <div class="note ">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <svg class="icon icon--md margin-right-sm" aria-hidden="true">
                                            <use href="#info"></use>
                                        </svg>
            
                                        <div class="note__content text-component">
            
                                            <p class="text-sm"><a href="/iredadmin/create/ml/melindro.org" class="">Add mailing
                                                    list</a>
                                            </p>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
            <section id="profile_aliases" class="tabs-v3__panel js-tabs__panel">
                <div class="grid gap-md items-center@md padding-top-md">
                    <div class="col-8@md">
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="aliases">Enable alias account</label>
                                </div>
                                <div class="col-7@md">
                                    <div class="flex inline-flex items-center">
                                        <div class="switch">
                                            <input name="aliases" id="aliases" type="checkbox" class="switch__input" checked=""
                                                required="">
                                            <label class="switch__label" for="aliases" aria-hidden="true">On</label>
                                            <div class="switch__marker" aria-hidden="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="shadowAddress">Email addresses of alias accounts</label>
            
                                </div>
                                <div class="col-7@md">
            
            
                                    <div class="list-filter js-list-filter">
                                        <div class="list-filter__form space-unit-rem bg-light radius-md shadow-sm inner-glow">
                                            <div class="position-relative border-bottom border-contrast-lower no-js:hide">
                                                <input autocomplete="off"
                                                    class="reset list-filter__search padding-sm text-sm js-list-filter__search"
                                                    type="search" name="list-filter-shadowAddress" id="list-filter-shadowAddress"
                                                    placeholder="Search">
                                                <span class="list-filter__focus-marker" aria-hidden="true"></span>
                                                <button
                                                    class="list-filter__search-cancel-btn js-list-filter__search-cancel-btn right-sm"
                                                    type="button">
                                                    <svg class="block icon icon--xs">
                                                        <use href="#reset"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                            <div class="list-filter__list-wrapper">
                                                <ul class="list-filter__list js-list-filter__list">
                                                    <li class="list-filter__item js-list-filter__item padding-sm" data-filter-tags="tag1 tag2 tag3">
                                                        <p class="js-list-filter__label">Item 1</p>
                                                        <div class="margin-left-auto">
                                                            <button class="list-filter__action-btn js-list-filter__action-btn--remove">
                                                                <svg class="icon icon--2xs" viewBox="0 0 12 12">
                                                                    <title>Remove user</title>
                                                                    <line x1="1" y1="6" x2="11" y2="6" fill="none" stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="2" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-filter__item js-list-filter__item padding-sm" data-filter-tags="tag1 tag4 tag5">
                                                        <p class="js-list-filter__label">Item 2</p>
                                                        <div class="margin-left-auto">
                                                            <button class="list-filter__action-btn js-list-filter__action-btn--remove">
                                                                <svg class="icon icon--2xs" viewBox="0 0 12 12">
                                                                    <title>Remove user</title>
                                                                    <line x1="1" y1="6" x2="11" y2="6" fill="none" stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="2" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <footer class="margin-top-2xs text-sm flex justify-between">
                                            <a href="#0" aria-controls="modal-form-shadowAddresses">
                                                <span class="tooltip-trigger js-tooltip-trigger" data-tooltip-title="Add " tabindex="0">
                                                    <svg class="icon icon--sm margin-x-2xs color-primary" aria-hidden="true">
                                                        <use href="#plus-circle"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                            <p class="color-contrast-medium " aria-live="polite" aria-atomic="true">
                                                <span class="js-list-filter__results-nr">0</span>
                                                in total.
                                            </p>
                                        </footer>
                                    </div>
            
            
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4@md">
            
                        <aside class="text-component__block padding-y-xs">
                            <div class="note ">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <svg class="icon icon--md margin-right-sm" aria-hidden="true">
                                            <use href="#info"></use>
                                        </svg>
            
                                        <div class="note__content text-component">
            
                                            <p class="text-sm">Emails sent to alias addresses will be delivered to
                                                <strong>postmaster@melindro.org</strong>.</p>
                                            <p class="text-sm">Email address of alias account must end with domain name(s):
                                                <strong>melindro.org</strong>.</p>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
            <section id="profile_password" class="tabs-v3__panel js-tabs__panel">
                <div class="grid gap-md items-center@md padding-top-md">
                    <div class="col-8@md">
                
                
                        <div class="password-strength flex flex-column-reverse gap-2xs js-password-strength"
                            data-strength-labels="Dolenta, Feble, Bona, Forta">
                
                            <div class="margin-bottom-xs offset-5@md">
                                <p class="sr-only">Password must contain</p>
                                    <ul class="text-sm">
                                        <li class="password-strength__req js-password-strength__req" data-password-req="number">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Almenys un número</span>
                                        </li>
                                        <li class="password-strength__req js-password-strength__req" data-password-req="letter">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Almenys un caràcter de lletra</span>
                                        </li>
                                        <li class="password-strength__req js-password-strength__req" data-password-req="special">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Almenys un caràcter especial</span>
                                        </li>
                                        <li class="password-strength__req js-password-strength__req" data-password-req="uppercase">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Almenys un caràcter en majúscula</span>
                                        </li>
                                        <li class="password-strength__req js-password-strength__req" data-password-req="lowercase">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Almenys un caràcter en minúscula</span>
                                        </li>
                                        <li class="password-strength__req js-password-strength__req" data-password-req="length:6">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Almenys sis caràcters</span>
                                        </li>
                                        <li class="password-strength__req js-password-strength__req" data-password-req="strengthLevel">
                                            <svg class="icon" viewBox="0 0 16 16" aria-hidden="true">
                                                <g class="password-strength__icon-group" fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-miterlimit="10">
                                                    <line x1="-6" y1="8" x2="8" y2="8"></line>
                                                    <line x1="8" y1="8" x2="22" y2="8"></line>
                                                </g>
                                            </svg>
                                            <span>Score Level >= 3</span>
                                        </li>
                                    </ul>
                            </div>
                            <div>
                                <div class="margin-bottom-xs">
                                    <div class="grid gap-2xs items-center@md">
                                        <div class="col-5@md">
                                            <label class="form-label" for="newpw">New password<span class=""
                                                    style="color:var(--color-error);">&nbsp;<sup><svg class="icon icon--3xs ">
                                                            <use href="#asterisk"></use>
                                                        </svg></sup>&nbsp;</span></label>
                                        </div>
                                        <div class="col-7@md">
                                            <div class="password js-password">
                                                <input type="password" id="newpw" name="newpw" value="" size="35"
                                                    class="password__input form-control width-100% js-password-strength__input js-password__input"
                                                    placeholder="" required="" autocomplete="off">
                                                <button class="password__btn flex flex-center js-password__btn">
                                                    <span class="password__btn-label" aria-label="Mostrar clau" title="Mostrar clau">
                                                        <svg class="icon block">
                                                            <use href="#eye"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="password__btn-label" aria-label="Amagar clau" title="Amagar clau">
                                                        <svg class="icon block">
                                                            <use href="#eye-strikethrough"></use>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                
                
                                        </div>
                                    </div>
                                </div>
                                <div class="margin-top-2xs js-password-strength__meter-wrapper hide">
                                    <div class="grid gap-2xs text-sm items-center">
                                        <div class="password-strength__meter col-6@xs bg-contrast-lower js-password-strength__meter"
                                            min="0" max="4" value="0" aria-hidden="true">
                                            <span class="block height-100%"></span>
                                        </div>
                                        <p class="col-6@xs text-right@xs color-contrast-medium" aria-live="polite" aria-atomic="true">
                                            #CAT Solidesa de la contrasenya:
                                            <span class="color-contrast-high js-password-strength__value"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="confirmpw">Confirm new password<span class=""
                                            style="color:var(--color-error);">&nbsp;<sup><svg class="icon icon--3xs ">
                                                    <use href="#asterisk"></use>
                                                </svg></sup>&nbsp;</span></label>
                
                                </div>
                                <div class="col-7@md">
                
                                    <div class="password js-password">
                
                
                                        <input type="password" id="confirmpw" name="confirmpw" value="" size="35"
                                            class="form-control  password__input js-password__input width-100%  " placeholder=""
                                            required="" autocomplete="off">
                
                
                                        <button class="password__btn flex flex-center js-password__btn">
                                            <span class="password__btn-label" aria-label="Mostrar clau" title="Mostrar clau">
                                                <svg class="icon block">
                                                    <use href="#eye"></use>
                                                </svg>
                                            </span>
                                            <span class="password__btn-label" aria-label="Amagar clau" title="Amagar clau">
                                                <svg class="icon block">
                                                    <use href="#eye-strikethrough"></use>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                
                
                                </div>
                            </div>
                        </div>
                
                
                
                    </div>
                    <div class="col-4@md">
                
                        <aside class="text-component__block padding-y-xs">
                            <div class="note note--warning">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <svg class="icon icon--md margin-right-sm" aria-hidden="true">
                                            <use href="#warning"></use>
                                        </svg>
                                        <p class="note__title color-contrast-higher"><strong>Need a strong password?</strong></p>
                                    </div>
                                </div>
                                <div class="margin-top-3xs">
                                    <div class="note__content text-component">
                
                                        <p class="font-bold">Zf8%YKp7au</p>
                                        <p><input class="btn btn--primary-subtle" type="button" onclick="fill_random_password()"
                                                value="Use this password"></p>
                                        <script type="text/javascript">
                                            function fill_random_password() {
                                                document.getElementsByName("newpw")[0].value = "Zf8%YKp7au";
                                                document.getElementsByName("confirmpw")[0].value = "Zf8%YKp7au";
                                            }
                                        </script>
                
                                    </div>
                                </div>
                            </div>
                        </aside>
                
                    </div>
                </div>
            </section>
            <section id="profile_relay" class="tabs-v3__panel js-tabs__panel">
                <div class="grid gap-md items-center@md padding-top-md">
                    <div class="col-8@md">
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="mtaTransport">Relay received email to</label>
            
                                </div>
                                <div class="col-7@md">
            
            
            
                                    <input type="text" id="mtaTransport-93ac" name="mtaTransport" value="" size="35"
                                        class="form-control width-100% " placeholder="">
            
            
            
            
                                </div>
                            </div>
                        </div>
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="relay_without_verify_local_recipient">Relay without verifying
                                        local recipients</label>
            
                                </div>
                                <div class="col-7@md">
            
                                    <div class="flex inline-flex items-center">
                                        <div class="switch">
                                            <input name="relay_without_verify_local_recipient"
                                                id="relay_without_verify_local_recipient-23b7" type="checkbox"
                                                class="switch__input " required="">
                                            <label class="switch__label" for="relay_without_verify_local_recipient"
                                                aria-hidden="true">On</label>
                                            <div class="switch__marker" aria-hidden="true"></div>
                                        </div>
            
                                    </div>
            
            
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4@md">
                        <aside class="text-component__block padding-y-xs">
                            <div class="note ">
                                <div class="flex items-center justify-between">
                                    <div class="flex items-center">
                                        <svg class="icon icon--md margin-right-sm" aria-hidden="true">
                                            <use href="#info"></use>
                                        </svg>
            
                                        <div class="note__content text-component">
                                            <p class="">
                                                <button class="js-modal" data-content="#sample_transport"
                                                    data-title="Sample Settings">Sample
                                                    Settings</button>
                                                <div id="sample_transport" class="hide">
                                                    <table class="table table--expanded@xs position-relative width-100% text-unit-em text-sm js-table">
                                                        <thead class="table__header">
                                                            <tr class="table__row">
                                                                <th class="table__cell" scope="col">Setting</th>
                                                                <th class="table__cell" scope="col">Comment</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table__body">
                                                            <tr class="table__row">
                                                                <td class="table__cell" role="cell"><strong>dovecot</strong></td>
                                                                <td class="table__cell" role="cell">default transport</td>
                                                            </tr>
                                                            <tr class="table__row">
                                                                <td class="table__cell" role="cell"><strong>discard</strong></td>
                                                                <td class="table__cell" role="cell">discard received email</td>
                                                            </tr>
                                                            <tr class="table__row">
                                                                <td class="table__cell" role="cell"><strong>smtp:[example.com]:25</strong></td>
                                                                <td class="table__cell" role="cell">forward emails to host example.com through port 25. The []
                                                                    form is required when you specify an IP address instead of a hostname, or disable MX DNS lookup.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="text-divider"></div>
                    <div class="col-8@md">
            
            
                        <div class="margin-bottom-xs">
                            <div class="grid gap-2xs items-center@md">
                                <div class="col-5@md">
                                    <label class="form-label" for="relayhost">Relay outgoing email to</label>
            
                                </div>
                                <div class="col-7@md">
            
            
            
            
                                    <input type="text" id="relayhost-1d57" name="relayhost" value="" size="35"
                                        class="form-control width-100% " placeholder="">
            
            
            
            
            
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4@md">
            
                    </div>
                </div>
            </section>
            <div class="padding-md  margin-top-md border-top">
                <div class="flex justify-between">
                    <p class="text-xs color-contrast-low">(<span class="" style="color:var(--color-error);">&nbsp;<sup><svg
                                    class="icon icon--3xs ">
                                    <use href="#asterisk"></use>
                                </svg></sup>&nbsp;</span>) #CAT Són camps obligatoris</p>
            
                    <button type="button" class="btn btn--primary" id="submit_btn">
                        Save changes
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
