<div class="grid gap-sm padding-xs padding-x-lg@md">
    <section class="col-6@md text-component padding-md">
        <h2>System Information</h2>
        <div class="text-sm">
            <table class="prop-table width-100%" aria-label="System Information">
                <tbody class="prop-table__body">
                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Number of domains</th>
                        <td class="prop-table__cell"><a class="text-bg-fx text-bg-fx--scale-y"
                                href="/iredadmin/domains">1</a></td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Number of users</th>
                        <td class="prop-table__cell">1</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Number of mailing lists
                        </th>
                        <td class="prop-table__cell">0</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Number of aliases</th>
                        <td class="prop-table__cell">0</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Stored emails</th>
                        <td class="prop-table__cell">0 Emails <br> 0.0 B</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">iRedMail</th>
                        <td class="prop-table__cell">1.7.3</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">iRedAdmin</th>
                        <td class="prop-table__cell">2.6 (LDAP)</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Hostname</th>
                        <td class="prop-table__cell">www.melindro.org</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Uptime</th>
                        <td class="prop-table__cell">0 days, 0 hours, 2 minutes.</td>
                    </tr>

                    <tr class="prop-table__row">
                        <th class="prop-table__cell prop-table__cell--th">Server Load</th>
                        <td class="prop-table__cell">0.760 0.290 0.110</td>
                    </tr>



                </tbody>
            </table>
        </div>
    </section>

    <section class="col-6@md bg-light radius-md  text-component padding-md">
        <div class="grid gap-sm items-center@md padding-top-xs ">
            <h2>Statistics Of Latest 24 Hours</h2>
            <div class="text-sm">
                <table class="tbl__table text-unit-em border-bottom border-2">
                    <tbody class="tbl__body">
                        <tr class="tbl__row">
                            <td class="tbl__cell" role="cell">
                                <i class="#plane" aria-hidden="true"></i>
                                <svg class="icon icon--sm">
                                    <use href="#plane"></use>
                                </svg>
                                <span>Sent</span>
                            </td>
                            <td class="tbl__cell  text-center"><a
                                    class="badge badge--primary-light text-sm"
                                    href="/iredadmin/activities/sent">0</a></td>
                        </tr>

                        <tr class="tbl__row">
                            <td class="tbl__cell" role="cell">
                                <i class="#envelope" aria-hidden="true"></i>
                                <svg class="icon icon--sm">
                                    <use href="#envelope"></use>
                                </svg>
                                <span>Received</span>
                            </td>
                            <td class="tbl__cell  text-center"><a
                                    class="badge badge--primary-light text-sm"
                                    href="/iredadmin/activities/received">0</a></td>
                        </tr>

                        <tr class="tbl__row">
                            <td class="tbl__cell" role="cell">
                                <i class="#ban" aria-hidden="true"></i>
                                <svg class="icon icon--sm">
                                    <use href="#ban"></use>
                                </svg>
                                <span>Quarantined</span>
                            </td>
                            <td class="tbl__cell  text-center"><a
                                    class="badge badge--primary-light text-sm"
                                    href="/iredadmin/activities/quarantined">0</a></td>
                        </tr>

                        <tr class="tbl__row">
                            <td class="tbl__cell" role="cell">
                                <svg class="icon icon--sm">
                                    <use href="#virus"></use>
                                </svg>
                                <span>Virus</span>
                            </td>
                            <td class="tbl__cell  text-center"><a
                                    class="badge badge--primary-light text-sm"
                                    href="/iredadmin/activities/quarantined/virus">0</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="grid gap-sm items-top@md padding-top-xs ">
            <div class="col-6@md">
                <h2>Top Senders</h2>
                <table class="tbl__table text-unit-em text-sm border-bottom border-2">
                    <tbody class="tbl__body">

                    </tbody>
                </table>
            </div>
            <div class="col-6@md">
                <h2>Top Recipients</h2>
                <table class="tbl__table text-unit-em text-sm border-bottom border-2">
                    <tbody class="tbl__body">

                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
<div class="text-component padding-md">
    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit augue, mus cubilia sollicitudin quam
        suspendisse auctor
        pretium tincidunt, libero natoque per condimentum erat nisi massa. Tempor dis id dictumst
        conubia posuere nibh
        mi consequat condimentum ac, lacinia diam commodo netus vulputate dignissim accumsan
        sociosqu ante bibendum, in
        dictum malesuada faucibus erat ridiculus est orci elementum. Egestas erat fames nisi
        suspendisse sed turpis
        venenatis ultrices velit, convallis massa dictumst per inceptos pellentesque litora eu, est
        pretium himenaeos
        quisque morbi magna fermentum eget.
    </p>
    <p>
        Sagittis conubia massa ultricies justo dui rhoncus purus id lacinia, dignissim potenti
        sociosqu quisque vitae
        ornare sodales elementum. Nec sem convallis eleifend et faucibus parturient porttitor
        pharetra, maecenas quis
        posuere habitasse ridiculus dictumst fringilla. Risus tellus varius ut faucibus mauris
        gravida torquent, fusce
        venenatis morbi posuere velit. Et proin metus tempus magna ultricies sociis leo nascetur
        quisque dis mi
        penatibus cum, laoreet dapibus tristique litora feugiat vivamus platea odio rhoncus nam
        curabitur.
    </p>
    <p>
        Vulputate arcu cras iaculis dictumst quam aenean suscipit duis in felis, posuere facilisi
        fermentum himenaeos
        faucibus blandit luctus est montes lacinia, senectus ut donec habitant convallis laoreet
        accumsan mi quisque.
        Parturient fusce pulvinar accumsan diam ultrices tellus gravida in tristique, eget iaculis
        eros montes erat
        rutrum lobortis libero conubia, varius cursus potenti volutpat et vitae massa dui. Magnis
        duis parturient
        faucibus sodales interdum aenean tincidunt aliquet tempor, vitae nisl ad fermentum placerat
        suscipit sed et.
        Pellentesque facilisis augue sagittis dis fames metus sapien habitant posuere eleifend
        condimentum duis
        pulvinar, lobortis fringilla id scelerisque dapibus blandit sodales dictum magnis auctor vel
        ridiculus.
    </p>
</div>