<div class="language-picker {{#if mod}}language-picker--{{mod}}{{/if}} js-language-picker" data-trigger-class="{{#if classes}}{{classes}}{{/if}} content-center text-xs">
    <form action="" class="language-picker__form">
        <label for="language-picker-select">Select your language:</label>
        <select name="language-picker-select">
            <option value="bg">Bulgarian</option>
            <option value="cs">Čeština</option>
            <option value="ca_ES">Català</option>
            <option value="da">Dansk</option>
            <option value="de">Deutsch (Deutsch)</option>
            <option value="en_US" selected>English (US)</option>
            <option value="es_ES">Castellano (Español)</option>
            <option value="fi">Finnish (Suomi)</option>
            <option value="fr">Français</option>
            <option value="hu">Hungarian</option>
            <option value="it">Italiano</option>
            <option value="ja">Japanese (日本語)</option>
            <option value="ko">Korean</option>
            <option value="lv">Latvian</option>
            <option value="nl">Netherlands</option>
            <option value="pl">Polski</option>
            <option value="pt">Portuguese</option>
            <option value="ro">Romanian</option>
            <option value="ru">Русский</option>
            <option value="sl">Slovenian</option>
            <option value="sv">Swedish (Svenska)</option>
            <option value="zh">Chinese (简体中文)</option>
        </select>
    </form>
</div>
<script type="module" >
    const pickers = document.querySelectorAll('.js-language-picker');
    pickers.forEach((el) => {
        new LanguagePicker(el, {
            onGetLangUrl: (option) =>
                window.location.origin +
                window.location.pathname +
                `?lang=${option.value}`,
        });
    });
</script>