@use '@/scss/config' as *;
// --- ↑ update this path if you're importing CodyFrame as npm module

/* -------------------------------- 

File#: _1_password
Title: Password Visibility Control
Descr: Password input field with option to toggle password visibility.
Usage: https://codyhouse.co/ds/components/info/password-visibility-control

-------------------------------- */

:root {
    --password-btn-width: 3.5em;
    --password-icon-size:1.5em;
}
.password {
    position:relative;
    &__input {
        height:100%;
    }
    &__btn {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        width: var(--password-btn-width);
        background-color: transparent;
        justify-content: center;
        align-items: center;
        display:none;
        &:focus{
            color:var(--color-primary);
        }
        &-label{
            &:last-child {
                display:none;
            }
            .icon {
                width: var(--password-icon-size);
                height:var(--password-icon-size);
            }
        }
    }
    &--text-is-visible &__btn-label{
        &:first-child {
            display:none;
        }
        &:last-child {
            display:inline-block;
        }
    }
    &__input {
        padding-right:calc(var(--space-sm) + var(--password-btn-width));
        &::-ms-reveal {
            display:none;
        }
    }
    &__btn {
        display: flex;
    }
}

