@use '@/scss/config' as *;
// --- ↑ update this path if you're importing CodyFrame as npm module

/* -------------------------------- 

File#: _3_dashboard-navigation
Title: Dashboard Navigation
Descr: Dashboard navigation template
Dependencies
    Search Input _1_search-input https://codyhouse.co/ds/components/info/search-input
    Expandable Search _1_expandable-search https://codyhouse.co/ds/components/info/expandable-search
    Diagonal Movement _1_diagonal-movement https://codyhouse.co/ds/components/info/diagonal-movement
    Dropdown _1_dropdown https://codyhouse.co/ds/components/info/dropdown
    Side Navigation _1_side-navigation https://codyhouse.co/ds/components/info/side-navigation
    Responsive Sidebar _1_responsive-sidebar https://codyhouse.co/ds/components/info/responsive-sidebar
Usage: https://codyhouse.co/ds/components/info/dashboard-navigation

-------------------------------- */

:root {
    --app-ui-header-height: 50px;
    --app-ui-static-sidebar-width: 280px;
    --sidenav-list-item-padding-y: var(--space-xs);
    --sidenav-list-item-padding-x: var(--space-sm);
    --sidenav-sublist-control-size: 20px; // button size
    // icons
    --sidenav-icon-size: 32px; // size of main link icons
    --sidenav-icon-text-gap: var(--space-2xs); //10px; // gap between main icon and text label
}

.app-ui {
    /* mobile version only (--default) 👇 */
    & > section { 
        display: block;
        //flex-direction: column;
        
        min-height: calc(100vh - var(--app-ui-header-height));
        max-width: 100%;
        width:100%;
        height: auto;
    }
    [class^='app-ui__fix'] {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        .menu-bar {
            --menu-bar-button-size: 36px;
            --menu-bar-icon-size: 24px;
            --menu-bar-horizontal-gap: var(--space-2xs);
            --menu-bar-vertical-gap: 4px;
            --menu-bar-label-size: var(--text-xs);
            &__icon {
                color: var(--color-contrast-medium);
            }
            &__item--trigger {
                margin-right: 0;
            }
        }
    }
    [class^='app-ui__desktop'] {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    &__btn-nav,
    [class^='app-ui__mobile'] {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    &__header {
        position: sticky;
        top: 0;
        width: 100%;
        height: var(--app-ui-header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-bg-light);
        box-shadow: var(--shadow-sm);
        padding: 0 var(--space-sm);
        z-index: calc(var(--z-index-fixed-element, 10) + 1);
        &-wrapper,
        &-logo,
        &-logo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        &-logo {
            height: calc(var(--app-ui-header-height) * 0.7);
            img { height: 30px; }
            svg { display: block; width: inherit; height: inherit; }
        }
        &-logo-wrapper {
            position: relative;
            height: 100%;
        }
    }
    &__nav {
        background-color: var(--color-bg);
        box-shadow: none;
        &.sidebar:not(.sidebar--static) {
            top: var(--app-ui-header-height);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.3s, opacity 0s 0.3s;
            &.sidebar--is-visible {
                visibility: visible;
                opacity: 1;
                transition: none;
            }
            .sidebar__panel { max-width: unset !important; }
        }
        .sidenav {
            padding: var(--sidenav-list-item-padding-y) var(--sidenav-list-item-padding-x);
            &__item {
                display: block;
                position: relative;
                padding: calc(var(--sidenav-list-item-padding-y) / 2) 0;
                width: 100%;
            }
            &__divider {
                width: 100%;
                height: 1px;
                background-color: var(--color-contrast-lower);
                margin: calc(var(--sidenav-list-item-padding-y) / 2) 0;
            }
            &__link {
                display: flex;
                align-items: center;
                border-radius: var(--radius-md);
                text-decoration: none;
                color: var(--color-contrast-high);
                line-height: 1;
                font-size: var(--text-md);
                padding: var(--sidenav-list-item-padding-y) var(--sidenav-list-item-padding-x);
                border: 2px solid var(--color-contrast-lower);
                height: auto;
                &:hover,
                &.hover {
                    background-color: alpha(var(--color-contrast-higher), 0.05);
                }
                &[aria-current='page'] {
                    background-color: alpha(var(--color-primary), 0.1);
                    color: var(--color-primary);
                }
            }
            &__icon {
                --size: var(--sidenav-icon-size);
                width: var(--size);
                height: var(--size);
                margin-right: var(--sidenav-icon-text-gap);
                transition: .3s var(--ease-out-back);
            }
            &__text {
                white-space: nowrap;
                text-wrap: balance;
                padding: 0 var(--space-2xs);
                opacity: 1;
                visibility: visible;
            }
            &__label { margin-bottom: var(--space-3xs); }
            &__notification-marker {
                margin-left: auto;
                background-color: var(--color-accent);
                border-radius: var(--radius-md);
                height: 16px;
                line-height: 16px;
                padding: 0 4px;
                color: var(--color-white);
                font-size: 12px;
                display: none;
            }
            .dropdown-btn {
                display: block;
                position: absolute;
                top: calc((var(--space-md) + var(--sidenav-list-item-padding-y)) - var(--sidenav-sublist-control-size) / 2);
                right: var(--sidenav-list-item-padding-x);
                width: var(--sidenav-sublist-control-size);
                height: var(--sidenav-sublist-control-size);
                margin-left: var(--space-2xs);
                border-radius: 50%;
                cursor: pointer;
                background-color: alpha(var(--color-contrast-higher), 0.15);
                .icon {
                    display: block;
                    width: calc(var(--sidenav-sublist-control-size) * 0.7);
                    height: calc(var(--sidenav-sublist-control-size) * 0.7);
                    margin: auto;
                    .icon__group {
                        will-change: transform;
                        transform-origin: 8px 8px;
                        transition: transform 0.3s var(--ease-out);
                        & > * {
                            transform-origin: 8px 8px;
                            stroke-dasharray: 17;
                            transform: translateY(3px);
                            transition: transform 0.3s, stroke-dashoffset 0.3s;
                            transition-timing-function: var(--ease-out);
                            &:first-child,
                            &:last-child { stroke-dashoffset: 10; }
                        }
                    }
                }
                &:hover { background-color: alpha(var(--color-contrast-higher), 0.15); }
                &.sidenav__item--expanded,
                &[aria-expanded='true'] {
                    background-color: alpha(var(--color-primary), 0.3);
                    color: var(--color-primary);
                    .icon__group {
                        transform: rotate(-90deg);
                        & > * {
                            &:first-child,
                            &:last-child {
                                stroke-dashoffset: 0;
                                transform: translateY(0px);
                            }
                        }
                    }
                }
            }
            .dropdown-container {
                display: none;
                animation: dropdown-entry-animation .3s var(--ease-out);
                --spacing: var(--space-md);
                --radius: var(--space-xs);
                --color-line: var(--color-contrast-lower);
                margin-left: calc(0 - var(--spacing));
                padding-left: 0;
                li:not(.sidenav__label) {
                    display: block;
                    position: relative;
                    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
                    border-left: 2px solid var(--color-line);
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -2px;
                        width: calc(2 * var(--spacing) - var(--radius) - 2px);
                        height: calc(var(--spacing) + var(--sidenav-list-item-padding-y) / 2 + 1px);
                        border: solid var(--color-line);
                        border-width: 0 0 2px 2px;
                    }
                    .dropdown-btn {
                        top: calc((var(--spacing) + var(--radius) + var(--sidenav-list-item-padding-y) / 2 )/2);
                    }
                }
                li:last-child { border-color: transparent; }
            }
        }
    }
    &__body {
        position: relative;
        min-height: calc(100vh - var(--app-ui-header-height));
        z-index: 1;
        flex-grow: 1;
        background-color: var(--color-bg-darker);
        max-width: 100vw;
        overflow: auto;
        .subnav--collapsed &__wrapper &__nav {
            margin-top: var(--app-ui-header-height);
        }
        .subnav__wrapper--is-visible {
                padding-top: var(--app-ui-header-height);
                --spacing: var(--space-md);
                --radius: var(--space-xs);
                --color-line: var(--color-contrast-lower);
                margin-left: calc(0 - var(--spacing));
                padding-left: 0;
                
        }
        .container {
            --container-margin-x: var(--space-4xs);
            //width: calc(100% - var(--container-margin-x) * .8);
        }
    }
    /* end mobile version */

    /* desktop version only (--static) 👇 */
    &--static > section { 
        display: flex; 
        justify-content: space-around;
    }
    &--static [class^='app-ui__desktop'] {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    &--static [class^="app-ui__desktop-menu"] {
        flex-grow: 1;
        justify-content: space-between;
        padding: 0 var(--space-xs);
    }
    &--static &__btn-nav,
    &--static [class^='app-ui__mobile'] {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .expandable-search {
        --expandable-search-size-compact: 36px;
        --expandable-search-size-expanded: 300px;
        --expandable-search-icon-size: 20px;
    }
    &--static &__header {
        z-index: 3;
        padding: 0;
        &-logo-wrapper {
            width: var(--app-ui-static-sidebar-width);
            max-width: var(--app-ui-static-sidebar-width);
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 15%;
                height: 70%;
                width: 1px;
                background-color: var(--color-contrast-lower);
            }
        }
        &-logo { width: calc(var(--app-ui-static-sidebar-width) * 0.8); }
    }
    &--static &__nav {
        --sidenav-list-item-padding-x: var(--space-xs);
        --sidenav-list-item-padding-y: var(--space-xs);
        --sidenav-icon-size: 24px;
        --dropdown-item-padding: var(--sidenav-list-item-padding-y) var(--sidenav-list-item-padding-x);
        &.sidenav-desktop {
            position: relative;
            z-index: 2;
            width: 100%;
            box-shadow: var(--shadow-sm);
            max-width: var(--app-ui-static-sidebar-width);
        }
        .sidenav {
            &__item,
            &__divider { margin: calc(var(--sidenav-list-item-padding-y) / 2) 0; }
            &__item { position: relative; }
            &__item:not(&__item--current):hover &__link {
                color: var(--color-primary);
                background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.075);
            }
            &__divider {
                width: 80%;
                height: 1px;
                background-color: var(--color-contrast-lower);
            }
            &__link {
                display: flex;
                align-items: center;
                border-radius: var(--radius-md);
                text-decoration: none;
                color: var(--color-contrast-high);
                line-height: 1;
                font-size: var(--text-sm);
                padding: var(--sidenav-list-item-padding-y) var(--sidenav-list-item-padding-x);
                border: 0;
                .dropdown__trigger-icon {
                    transform: rotate(90deg);
                    margin-left: auto;
                }
                &:hover, &.hover {
                    background-color: alpha(var(--color-contrast-higher), 0.05);
                }
                &[aria-expanded="true"] {
                    color: var(--color-primary);
                    background-color: alpha(var(--color-contrast-higher), 0.05);
                    .dropdown__trigger-icon { transform: rotate(0deg); }
                }
                &[aria-current='page'] {
                    background-color: alpha(var(--color-primary), 0.1);
                    color: var(--color-primary);
                }
            }
            &__icon {
                --size: var(--sidenav-icon-size);
                width: var(--size);
                height: var(--size);
                margin-right: var(--sidenav-icon-text-gap);
            }
            &__text {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__tooltip {
                position: absolute;
                left: var(--app-ui-static-sidebar-width);
                visibility: hidden;
                opacity: 0;
                color: var(--color-contrast-high);
                pointer-events: none;
                margin: var(--space-4xs) var(--space-2xs);
                padding: var(--space-2xs) var(--space-xs);
                border-radius: var(--radius-md);
                white-space: nowrap;
                background: var(--color-bg-light);
                box-shadow: var(--shadow-sm);
                text-overflow: ellipsis;
                text-align: center;
                text-wrap: stable;
                font-size: calc(var(--text-xs));
                z-index: var(--z-index-fixed-element, 10);
            }
            &__label {
                padding-left: var(--space-2xs);
                margin-bottom: var(--space-3xs);
            }
            &__notification-marker { display: block; }
        }
        .dropdown__menu {
            left: 100% !important;
            top: 0 !important;
            li { margin: 0; padding: 0; }
            li[class$="label"]{padding-left:var(--space-2xs); } 
        }
    }
    &--static &__body {
        max-width: calc(100% - var(--app-ui-static-sidebar-width));
        width: calc(100% - var(--app-ui-static-sidebar-width));
        .container {
            --container-margin-x: var(--space-md);
            //width: calc(100% - 6 * var(--container-margin-x));
        }
    }
    &--static.sidenav--minified {
        --app-ui-static-sidebar-width: 90px;
        & [class$='__header-logo'] div { display: none; }
        transition: .3s var(--ease-out-back);
    }
    &--static.sidenav--minified &__nav {
        --sidenav-list-item-padding-x: var(--space-xs);
        --sidenav-list-item-padding-y: var(--space-xs);
        --sidenav-icon-size: 32px;
        --dropdown-item-padding: var(--sidenav-list-item-padding-y) var(--space-xs);
        .sidenav {
            --sidenav-icon-size: 32px;
            padding: var(--sidenav-list-item-padding-y) 0 0 0;
            &__item,
            &__divider { padding: 0; margin: 0; }
            &__link {
                width: 100%;
                padding: var(--sidenav-list-item-padding-y) var(--sidenav-list-item-padding-x);
                border-radius: 0;
                &:hover [class$='__tooltip'] {
                    opacity: .9;
                    visibility: visible;
                }
            }
            &__icon {
                --size: var(--sidenav-icon-size);
                margin: 0;
            }
            &__text {
                opacity: 0;
                visibility: hidden;
            }
            &__label { padding-left: var(--space-xs); }
            &__divider { width: 100%; margin-left: 0; }
            &__notification-marker { display: none; }
            .dropdown {
                position: relative;
                &__wrapper {
                    width: var(--app-ui-static-sidebar-width);
                    &.sidenav__item {
                        display: inline-flex;
                        & .icon:not[class^="__icon"] {
                            --size: 12px;
                            justify-self: center;
                            align-self: center;
                            margin-top: var(--space-3xs);
                        }
                    }
                }
                &__menu .sidenav {
                    &__link { flex-direction: row; }
                    &__icon {
                        --sidenav-icon-size: 24px;
                        margin-right: var(--sidenav-icon-text-gap);
                    }
                    &__text { font-size: var(--text-sm); }
                }
            }
        }
    }
    /* End desktop version only (--static) */
    &__btn {
        &-nav {
            --anim-menu-btn-size: 36px;
            --anim-menu-btn-icon-size: 20px;
            --anim-menu-btn-icon-stroke: 1.5px;
            &-wrapper {
                position: fixed;
                z-index: var(--z-index-overlay, 15);
                top: 0;
                left: 0;
                height: var(--dr-nav-header-height);
                width: 100%;
                pointer-events: none;
            }
            pointer-events: auto;
            position: relative;
            cursor: pointer;
            border-radius: 50%;
            transition: transform 0.3s var(--ease-in-out);
            color: var(--color-contrast-high);
            circle { display: none; }
            &.anim-menu-btn--state-b { transform: rotate(180deg); }
            &:hover &-bg {
                fill: var(--color-contrast-lower);
                opacity: 1;
            }
            &-bg {
                display: block;
                fill: var(--color-bg);
                stroke-width: 1.5;
                stroke: var(--color-contrast-low);
                opacity: 0.95;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.2s;
            }
            &--ready-to-animate circle {
                display: block;
                transition: stroke-dashoffset 0.3s 0s;
            }
            &.anim-menu-btn--state-b circle {
                stroke-dashoffset: 0;
                transition-delay: 0.3s;
            }
        }
        &-header,
        &-user,
        &-lang {
            position: relative;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            text-decoration: none;
        }
        &-header {
            display: flex;
            transition: background-color 0.3s;
            color: var(--color-contrast-high);
            &.anim-menu-btn {
                --anim-menu-btn-size: 36px;
                --anim-menu-btn-icon-size: 20px;
                --anim-menu-btn-icon-stroke: 1.5px;
            }
            .icon {
                font-size: 20px;
                display: block;
                margin: auto;
            }
            &:hover {
                cursor: pointer;
                background-color: hsla(
                    var(--color-contrast-higher-h),
                    var(--color-contrast-higher-s),
                    var(--color-contrast-higher-l),
                    0.1
                );
            }
        }
        &-user {
            display: block;
            overflow: hidden;
            transition: 0.3s;
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
            :hover { opacity: 0.85; }
        }
    }
}

.subnav__nav {
    &::after {
        background: transparent;
    }
}

@keyframes dropdown-entry-animation {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0px); }
}

